logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.sbtserver
/RUNNING_PID
/public/web-crm
/public/web-img
.vagrant
ansible/logs
node_modules/
/project/.sbtserver
project/project/
project/sbt/
project/.sbtserver.lock
db